[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/17_handshake_vs.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_server.git
	branch = main
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/17_server.git
	branch = main
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_17_server.git
	branch = master
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/17_server_alex
	branch = master
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/work_17.git
	branch = main
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/17_server_mks.git
	branch = main
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-17_server.git
	branch = master
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_17_server.git
	branch = main
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-17.git
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/17_server
	branch = main
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/17_server.git
	branch = main
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/17_server.git
	branch = main
[submodule "siniscalcoFra"]
	path = siniscalcoFra
	url = https://github.com/NopeSiniscalco/17_server_mks.git
	branch = main
